
@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {margin: 0; padding: 0;}

html {
  height: 100%;

}

body {

  font-family: montserrat, arial, verdana;

  background-image: url(/static/imgs/bg1.png);

  background-position: center center;

  background-repeat: no-repeat;

  background-attachment: fixed;

  background-size: cover;

  background-color:#464646;

}

.top {
    background-color: rgba(40, 40, 39, 0.8);
    padding: 10px;
    box-shadow: 2px 2px 2px #212324;
}
.epicenter_logo {
    background-position: center center;

    background-repeat: no-repeat;
    background-image: url(/static/imgs/epicenter.png);
    height: 100px;
}
.main_app {
    padding: 10px;
    margin-top: 45px;
    background-color: rgba(255, 255, 255, 0.7);
}


@media only screen and (max-width: 767px) {
    body {

        background-image: url(/static/imgs/bg1.png);
    }
    .epicenter_logo {
            background-image: url(/static/imgs/epicenter_sm.png);
    }
}

