{% extends 'base.html' %} {% load static %} {% load humanize %}

{% block content %}

<style>
    .claim_id:hover {
        cursor: pointer;
        text-decoration: underline;
    }
</style>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-6 col-md-10 col-sm-12">
            <div class="main_app card px-3 mb-4">
                <div class="text-center">
                    <span class="h2 py-3">Form Submitted Successfully</span>
                    <hr />

                    <div class="text-center">
                        <span class="text-success" style="font-size: 5.4rem;">
                            <i class="far fa-check-circle my-4"></i>
                        </span>
                    </div>

                    <table class="d-flex justify-content-center table w-100 table-borderless">
                        <tbody>
                            <tr>
                                <td>
                                    TELEGRAM:
                                </td>
                                <td class="text-end fw-bold text-break">
                                    @{{claim.telegram}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    CLAIM ID:
                                </td>
                                <td class="text-end fw-bold text-break">
                                    <span class="claim_id" id="claim_id" data-bs-toggle="tooltip"
                                          data-bs-placement="top" title="Copy to clipboard"
                                          onclick="copyToClipboard('#claim_id')">
                                        {{claim.id}}
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    VITEX ADDRESS:
                                </td>
                                <td class="text-end fw-bold text-break">
                                    {{claim.vitex_address}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Comments:
                                </td>
                                <td class="text-end fw-bold text-break">
                                    {{claim.details}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Files:
                                </td>
                                <td class="text-end fw-bold text-break">
                                    {% if claim.files.all %}
                                        {% for file in claim.files.all %}
                                            <p><a href="{{file.file.url}}">{{ file.name }}</a></p>
                                        {% endfor %}
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <hr class="hr-text py-1">

                    {% if claim.estimations %}
                        <div class="h4 my-5">
                            {% if claim.estimations.total_claim_value %}
                                Estimated EIOU claim:
                                <span class="fw-bold">
                                    {{claim.estimations.total_claim_value|intcomma}} $*
                                </span>
                            <p class="font-dark mt-3 px-3 fs-6">
                                * This is only estimated value based on data provided by Vitex exchange,
                                it is not guaranteed and will be validated by Epic-Cash team.
                            </p>
                            {% else %}
                                <span class="fw-bold">
                                    No Vitex activity after 12 March
                                </span>
                            {% endif %}
                            <hr class="mt-5 hr-text py-1">
                        </div>
                    {% else %}
                        <div class="h4 my-5">
                            <span class="fw-bold">
                                No Vitex activity after 12 March
                            </span>
                            <hr class="mt-5 hr-text py-1">
                        </div>
                    {% endif %}

                    <div class="h5 mt-3 mb-4">
                        <p>Thank you for getting in touch!</p>
                        <p class="px-3">
                            Epic-Cash team will contact you via Telegram with further details.
                        </p>

                    </div>

                     <a href="{% url 'home' %}" class="btn btn-primary mb-3 py-2 w-100" type="button">
                         Home page
                     </a>

                    <div class="footer">
                        <hr />
                        <div class="footer-text text-center mx-2">
                            <a href="https://t.me/epiccashhelpdesk" target="_blank">
                                Telegram Help Desk.
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script src="{% static 'assets/java.js' %}"></script>
{% endblock js %}
