<div class="text-start mt-5">
    <p class="fs-4">
        <img src="https://assets.coingecko.com/coins/images/10346/small/ViteX.png?1578364192"
                height="35px">
        <strong>Vite Address:</strong>
    </p>
</div>

<div class="input-group mb-3 text-center">
    <input type="text" class="form-control"
           id="vitex_address" name="vitex_address">
    <span class="input-group-text px-4 py-3" id="basic-addon2">
        <span class="text-muted" id="vitex_address_icon">
            <i class="fs-5 fas fa-ban"></i>
        </span>
    </span>
</div>
<div class="my-2" id="msg_vitex_check_handler"></div>

<div class="mt-2" id="error_msg_vitex_address"></div>